@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-offwhite {
    background-color: #F5F5F5;
  }
  
  .box-hover {
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  }
  
  .box-hover:hover {
    transform: translateY(-4px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.06);
  }